
/* Colours */
/* Darker Green - #09F593 */
/* Lighter Green - #AFFC03 */
/* Orange - #E6A10E */
/* Red - #FC2503 */
/* Purple - #AC02F2 */

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
  /* font-family: 'Staatliches', cursive; */
  font-family: 'Staatliches', cursive, Arial, Helvetica, sans-serif;
  color: #3c3c3c;
  padding: 0;
  margin: 0;
}
nav {
  display: flex;
  justify-content: center;
  background-color: #AC02F2;
  padding: 20px 0;
}

nav p {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 48px
}

.main {
  display: flex;
  justify-content: center;
}

.center {
  margin-top: 30px;
  padding-top: 20px;
  
  min-width: 400px;
  height: 700px;
}

.row-guess-styling {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.letter-box {
  font-size: x-large;
  text-align: center;
  height: 58px;
  line-height: 58px;
  width: 58px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}


